@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000000;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Estilos para la barra de desplazamiento cuando se desplaza */
::-webkit-scrollbar-thumb {
  background-color: #ffffff30; /* Color de fondo de la barra de desplazamiento */
  border-radius: 4px; /* Radio de borde de la barra de desplazamiento */
}

/* Estilos para la barra de desplazamiento en estado inactivo */
::-webkit-scrollbar-track {
  background-color: transparent; /* Color de fondo del área de la barra de desplazamiento */
}

body {
  background-color: var(--bg-color);
  color-scheme: dark;
}
